body{
    background-color: #00b38a;
}
.login{
    width: 300px;
    padding: 50px 100px;
    background-color: #fff;
    margin: 168px auto 0;

}
.login label{
    display: block;
    width: 100px;
    margin-bottom: 5px;
}
.login span{
    display: block;
    text-align: center;
}
.login input{
    width: 272px;
    border-color: #eeeeee;
    background-color: #eeeeee;
    outline: 0;
    height: 44px;
    padding-right: 13px;
    padding-left: 13px;
    vertical-align: middle;
    color: #333;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
}
.login input:focus{
    border-color: #00b38a;
}
.login-item{
     margin-top: 20px;
}
.login-btn{
    width: 272px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    padding-right: 13px;
    padding-left: 13px;
    display: inline-block;
    color: #fff;
    border-color: #00b38a;
    background-color: #00b38a;
    cursor: pointer;
}