.operate{
    padding: 20px 0;
    overflow: hidden;
    text-align: center;
    background-color: #000000;
    display: none;
}
.operate-btn{
    display: inline-block;
    margin-right: 5px;
    padding: 5px 8px;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    color: #fff;
}
.operate-btn.disabled{
    background-color: #00b38a;
    cursor: pointer;
}
.operate-btn.disabled:hover{
    background-color: #00C79A;
    color: #fff;
}
.operate-btn.undisabled{
    background-color: #c2ccd1;
}
.operate-btn.undisabled:hover{
    color: #fff;
}